@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
}

body {
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: var(--background);
}

.simbolo{
  font-size: 24px;
  font-weight: 700;
  font-style: center;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  color: var(--color-font);
  height: 20%;
  width: 100%;
}

main {
  height: 60%;
  width: 100%;
}

.conteiner {
  color: var(--color-font);
  height: 100%;
  width: 360px;
  border-radius: 32px;
  background-color: var(--color-primary);
  box-shadow: -1px 2px 10px var(--color-darck);
}
#conteiner-top {
  height: 20%;
}

#display{
  position: relative;
  justify-content: center;
  align-items: end;

  height: 60%;
  width: 70%;
  background: var(--color-secundary);

  filter: drop-shadow( inset 10px 10px 10px rgba(0, 0, 0, 0.05));
  box-shadow: inset 0px 5px 10px var(--color-darck), 
  inset 0px -1px 0px rgba(255, 255, 255, 0.05),
  inset 0px 0px 8px rgba(0, 0, 0, 0.05);
}

#display::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 10px;
  border-radius: 20%;
  filter: blur(2px); 
}

#display h2{
  margin-right: 10px;
}

#conteiner-bottom{
  height: 80%;
}
#botoes {
  display: grid;
  grid-template-columns: repeat(4, 56px);
  grid-template-rows: repeat(4, 56px);
  justify-content: center;
  align-content: center;
  gap: 10px;
  list-style: none;
  height: 90%;
}
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: var(--color-secundary);
  transition: ease-in-out 0.1s;
  cursor: pointer;
  box-shadow:-1px -1px 1px var(--color-darck), inset -1px -1px 5px var(--color-darck);
  user-select: none;
}

.botao:hover{
  background-color: var(--color-darck);
  color: var(--color-secundary)
}

.botao:active{
  transform: scale(0.8);
}

#apagar{
  transform: scaleX(-1);
  font-weight: 900;
  font-size: 20px;
}

footer {
  color: var(--color-font);
  height: 20%;
  width: 100%;
}
