/* variavel  */
:root{
    --color-font: rgba(0, 0, 0, 1);
    --color-darck: rgba(0, 0, 0, .6);
    --color-primary: rgba(0, 0, 0, .4);
    --color-secundary: rgba(0, 0, 0, .2);
    --background: rgb(161, 98, 202);
}

/* temas */
.black{
    --color-font: rgb(82, 75, 117);
    --color-darck: rgb(36, 29, 71);
    --color-primary: rgb(44, 32, 116);
    --color-secundary: rgb(17, 13, 44);;
    --background: rgb(9, 0, 61);
}

.pink{
    --color-font: rgb(212, 137, 255);
    --color-darck: rgb(49, 33, 58);
    --color-primary:  rgb(67, 63, 119);
    --color-secundary: rgb(155, 137, 255);
    --background:  rgb(232, 194, 255);
}